  <!-- 
  As you can see, this is just a simple header tag, 
  but there’s the title property defined between  double  curly  braces.  
  This  is  a  common  convention  for  how  to  bind  a  value  into a template (perhaps you’re familiar with Mustache templates), 
  and it means Angular will replace {{title}} with the value of the title property from the component. 
  This is called INTERPOLATION and is frequently used to display data in a template 
  -->

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">  
    <header class="mdl-layout__header">    
      <div class="mdl-layout__header-row">      
        <span class="mdl-layout-title">Stock Tracker</span>      
        <div class="mdl-layout-spacer"></div>      
        <nav class="mdl-navigation mdl-layout--large-screen-only">  
          <a class="mdl-navigation__link" [routerLink]="['/']">Dashboard</a>  
          <a class="mdl-navigation__link" [routerLink]="['/manage']">Manage</a>
        </nav>
      </div>  
    </header>  
    <main class="mdl-layout__content" style="padding: 20px;">  
      <router-outlet></router-outlet>
    </main>
  </div>
